.p-news {
    position: relative;
    padding-left: 18%;
    padding-right: 18%;
}

.p-news__detail {
    width: 450px;
    display: inline-block;
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%);
    text-align: center;
}

.p-news__bgText {
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    font-size: 120px;
}

.p-news__content {
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.p-news__content > dl {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.p-news__content dt,
.p-news__content dd {
    display: inline-block;
    word-break: break-all;
    font-size: 12px;
    font-weight: bold;
}

.p-news__content dt {
    width: 30%;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.p-news__content dd {
    width: 70%;
}

@media screen and (max-width: 600px){
    .p-news {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 375px) {
    .p-news__title {
        font-size: 6vw;
    }
}